table, th, td {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: center;
}

tr:hover {
    background-color: rgb(80, 182, 255);
}